<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Latest compiled and minified CSS -->
  <style>
    html, body{
      font-family: 'Source Sans Pro',sans-serif;
      color: #333;
      font-size: 18px;
    }
    .image-bg img{
      width: 100%;
      height: 400px;
    }
    .title span{
      color: #754d2a;
      font-weight: bold;
    }
    span.sub-title{
      color: #754d2a;
      font-weight: bold;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6">
            <img src="http://cacaomovil.com/media/uploads/2015/09/12/lwr-logotag.png" alt="" class="img-responsive" width="50%">
          </div>
          <div class="col-xs-6 text-right">
            <%= Date.today.strftime("%d/%m/%Y") %> <br>
            <b>Cocoa Flavor Map</b>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% if I18n.locale.to_s == "es" %>
    <div class="row">
      <div class="col-xs-12">
        <div class="image-bg">
          <%= wicked_pdf_image_tag(@place.main_image.url) %>
          <h1 class="title"><small>Producto </small><span><%= @place.name %></span></h1>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-12 text-justify">
        <%= @place.scheme.html_safe rescue nil %>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Calidad - Notas de sabor
        </span>
        <hr>
        <%= @place.quality_flavors.html_safe %>
      </div>
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Procesamiento
        </span>
        <hr>
        <%= @place.content_right.html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Cosecha
        </span>
        <hr>
        <%= @place.harvest.html_safe %>
      </div>
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Información general
        </span>
        <hr>
        <p><%= @place.description %></p>
        <%= @place.content_left.html_safe %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-xs-12">
        <div class="image-bg">
          <%= wicked_pdf_image_tag(@place.main_image.url) %>
          <h1 class="title"><small>Product </small><span><%= @place.name %></span></h1>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-xs-12 text-justify">
        <%= @place.scheme_eng.html_safe rescue nil %>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Quality - Taste notes
        </span>
        <hr>
        <%= @place.quality_flavors_eng.html_safe %>
      </div>
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Processing
        </span>
        <hr>
        <%= @place.content_right_eng.html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Harvest
        </span>
        <hr>
        <%= @place.harvest_eng.html_safe %>
      </div>
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Generals
        </span>
        <hr>
        <p><%= @place.description_eng %></p>
        <%= @place.content_left_eng.html_safe %>
      </div>
    </div>
    <% end %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
