<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -%>
  <%#= wicked_pdf_stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" -%>
  <%#= wicked_pdf_stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" -%>
  <%#= wicked_pdf_stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" -%>
  <!-- Latest compiled and minified CSS -->
  <style>
    html, body{
      font-family: 'Source Sans Pro',sans-serif;
      color: #333;
      font-size: 18px;
    }

    .image-bg img{
      width: 100%;
      height: 400px;
    }
    .title span{
      color: #e7a614;
      font-weight: bold;
    }
    span.sub-title{
      color: #472a2b;
      font-weight: bold;
      font-size: 20px;
    }
    .taste-notes h1{
      font-family: "coolveticarg";
      text-align:center; 
      font-size: 2.5rem;   
      color:#e7a614;
    } 
    .taste-notes-desc{
      font-family: "corbel";
      text-align:center;  
      margin-bottom: 0px;  
      color:#000;
    } 
    .place-icon{
      width: 20%;
      text-align:center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .taste-notes{
      font-family: "coolveticarg";
      font-weight: 300 !important;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6">
            <img src="http://cacaomovil.com/media/uploads/2015/09/12/lwr-logotag.png" alt="" class="img-responsive" width="50%">
          </div>
          <div class="col-xs-6 text-right">
            <%= Date.today.strftime("%d/%m/%Y") %> <br>
            <b>Cocoa Flavor Map</b>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% if I18n.locale.to_s == "es" %>
    <div class="row">
      <div class="col-xs-12">
        <div class="image-bg">
          <%= wicked_pdf_image_tag(@place.main_image.url) %>
          <h1 style= "text-align:center" class="title"><span><%= @place.name %></span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-justify">
        <%= @place.scheme.html_safe %>
        <br>
      </div>
    </div>
    <%if @place.graphic_one.present? && @place.graphic_two.present?%>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <div class="col-md-9 offset-md-3">
          <%= wicked_pdf_image_tag @place.graphic_one.url.nil? ? "" : @place.graphic_one.url, class: "img-fluid", style: "width: 90%"%>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
          <div class="col-md-9 offset-md-0">
            <%= wicked_pdf_image_tag @place.graphic_two.url.nil? ? "" : @place.graphic_two.url, class: "img-fluid", style: "width: 90%"%>
          </div>
        </div>
      </div>
    <%elsif @place.graphic_one.present?%>
      <div class="col-md-5 col-xs-5 offset-md-3">
        <%= wicked_pdf_image_tag @place.graphic_one.url.nil? ? "" : @place.graphic_one.url, class: "img-fluid", style:"margin-left:11%; width: 90%" %>
      </div>
    <%elsif @place.graphic_two.present?%>
      <div class="col-md-5 offset-md-3">
        <%= wicked_pdf_image_tag @place.graphic_two.url.nil? ? "" : @place.graphic_two.url, class: "img-fluid", style:"margin-left:11%; width: 90%" %>
      </div>
    <%else%>
    <%end%>
    <br>
    <div class="row">
      <div class="col-xs-12 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Calidad - Notas de sabor
        </span>
        <div class="row">
          <br>
          <div class="col-md-3 col-sm-6 col-lg-6 col-xs-6 taste-notes">
            <%= wicked_pdf_image_tag("site/chocolate-icon-png-3.png", class: "img-responsive place-icon location-icon")%>
            <br>
            <p class="taste-notes-desc"><%= @place.chocolate.html_safe rescue nil  %></p>
          </div>
          <div class="col-md-3 col-xs-6 col-lg-6 col-sm-6 taste-notes">
            <%= wicked_pdf_image_tag("site/licor_icon.png", class: "img-responsive place-icon location-icon")%>
            <br>
            <p class="taste-notes-desc"><%= @place.licor.html_safe rescue nil  %></p>
          </div>
        </div>
        <br>
        <br>
        <div class="row">  
          <div class="col-xs-3 offset-xs-1 taste-notes">
            <h1 style="text-align:center"><%= @place.bean_size.html_safe %></h1>
            <p class="taste-notes-desc">gr/frijol<br>Tamaño del fijol</p>
          </div>
          <div class="col-xs-2 taste-notes">
            <h1 style="text-align:center"><%= @place.well_fermented.html_safe %></h1>
            <p class="taste-notes-desc">Bien fermentado<br></p>
          </div>
          <div class="col-xs-2 taste-notes">
            <h1 style="text-align:center"><%= @place.semi_fermented.html_safe %></h1>
            <p class="taste-notes-desc">Semi fermentado<br></p>
          </div>
          <div class="col-xs-2 taste-notes">
            <h1 style="text-align:center"><%= @place.defects.html_safe %></h1>
            <p class="taste-notes-desc">Defectos</p>
          </div>
          <div class="col-xs-3 taste-notes">            
            <h1 style="text-align:center"><%= @place.toast_conditions.html_safe.rpartition('C; ').first + "C"%></h1>            
            <p class="taste-notes-desc"><%=@place.toast_conditions.html_safe.rpartition('C;').last%><br>
            Condiciones de rostizado</p>
          </div>
        </div>
        <br>
        <%#= @place.quality_flavors.inspect %>
      </div>
        <hr>
        <%#= @place.quality_flavors.html_safe %>
      </div>
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Cosecha
        </span>
        <hr>
        <%#= @place.hardvest.html_safe %>
      </div>

      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Procesamiento
        </span>
        <hr>
        <%= @place.content_right.html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Información general
        </span>
        <hr>
        <p><%= @place.description %></p>
        <%= @place.content_left.html_safe %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-xs-12">
        <div class="image-bg">
          <%= wicked_pdf_image_tag(@place.main_image.url) %>
          <h1 style= "text-align:center" class="title"><small> </small><span><%= @place.name %></span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-justify">
        <%= @place.scheme_eng.html_safe rescue nil %>
        <br>
        <%if @place.graphic_one.present? && @place.graphic_two.present?%>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <div class="col-md-9 offset-md-3">
              <%= wicked_pdf_image_tag @place.graphic_one.url.nil? ? "" : @place.graphic_one.url, class: "img-fluid", style: "width: 90%"%>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="col-md-9 offset-md-0">
                <%= wicked_pdf_image_tag @place.graphic_two.url.nil? ? "" : @place.graphic_two.url, class: "img-fluid", style: "width: 90%"%>
              </div>
            </div>
          </div>
        <%elsif @place.graphic_one.present?%>
          <div class="col-md-5 col-xs-5 offset-md-3">
            <%= wicked_pdf_image_tag @place.graphic_one.url.nil? ? "" : @place.graphic_one.url, class: "img-fluid", style:"margin-left:11%; width: 90%" %>
          </div>
        <%elsif @place.graphic_two.present?%>
          <div class="col-md-5 offset-md-3">
            <%= wicked_pdf_image_tag @place.graphic_two.url.nil? ? "" : @place.graphic_two.url, class: "img-fluid", style:"margin-left:11%; width: 90%" %>
          </div>
        <%else%>
        <%end%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Quality - Taste Notes
        </span>
        <div class="row">
          <br>
          <div class="col-md-3 col-xs-6 taste-notes">
            <%= wicked_pdf_image_tag("site/chocolate-icon-png-3.png", class: "img-responsive place-icon location-icon")%>
            <br>
            <p class="taste-notes-desc"><%= @place.chocolate_eng.html_safe rescue nil  %></p>
          </div>
          <div class="col-md-3 col-xs-6 taste-notes">
            <%= wicked_pdf_image_tag("site/licor_icon.png", class: "img-responsive place-icon location-icon")%>
            <br>
            <p class="taste-notes-desc"><%= @place.liquor_eng.html_safe rescue nil  %></p>
          </div>
        </div>
        <br>
        <br>
        <div class="row">  
          <div class="col-xs-3 offset-xs-1 taste-notes">
            <h1 style="text-align:center"><%= @place.bean_size.html_safe %></h1>
            <p class="taste-notes-desc">gr/frijol<br>Bean size</p>
          </div>
          <div class="col-xs-2 taste-notes">
            <h1 style="text-align:center"><%= @place.well_fermented.html_safe %></h1>
            <p class="taste-notes-desc">Well fermented<br></p>
          </div>
          <div class="col-xs-2 taste-notes">
            <h1 style="text-align:center"><%= @place.semi_fermented.html_safe %></h1>
            <p class="taste-notes-desc">Semi fermented<br></p>
          </div>
          <div class="col-xs-2 taste-notes">
            <h1 style="text-align:center"><%= @place.defects.html_safe %></h1>
            <p class="taste-notes-desc">Defects</p>
          </div>
          <div class="col-xs-3 taste-notes">            
            <h1 style="text-align:center"><%= @place.toast_conditions.html_safe.rpartition('C; ').first + "C"%></h1>            
            <p class="taste-notes-desc"><%=@place.toast_conditions.html_safe.rpartition('C;').last%><br>
            Roasted Conditions</p>
          </div>
        </div>
        <br>
        <%#= @place.quality_flavors.html_safe %>
      </div>
        <hr>
        <%#= @place.quality_flavors.html_safe %>
      </div>
    <div class="row">
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Harvest
        </span>
        <hr>
        <%= @place.harvest_eng.html_safe %>
      </div>

      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Processing
        </span>
        <hr>
        <%= @place.content_right_eng.html_safe %>
      </div>
    </div>
    <div class="row">
      
      <div class="col-xs-6 text-justify">
        <span class="sub-title">
          <i class="fa fa-caret-right"></i> Generals
        </span>
        <hr>
        <p><%= @place.description_eng %></p>
        <%= @place.content_left_eng.html_safe %>
      </div>
    </div>
    <% end %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
