<!--link rel="stylesheet" href="/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.css">
<script src="/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js" ></script>
<script src="/jquery-jvectormap-2.0.3/jquery-jvectormap-world-mill-en.js" ></script>
<div id="world-map" style="width: 100%; height: 450px"></div>
<style>
  .jvectormap-container{
    background-color: #4b96c3 !important;
  }
</style>
  <script>
    
    $(function(){
      
  var places = [
  <% if @places.size > 0 %>
      <% @places.each do |place| %>
        <% if place.latitude.present? && place.longitude.present? %>
          { name: '<%= place.name %>', coords: [<%= place.latitude %>, <%= place.longitude %>] },
        <% end %>
      <% end %>
    <% end %>
  ];

  new jvm.Map({
    container: $('#world-map'),
    map: 'world_mill_en',
    markers: places.map(function(h){ return {name: h.name, latLng: h.coords} }),
    labels: {
        markers: {
          render: function(index){
            return places[index].name;
          }
        }
    },
  });
});
  </script>





----------------







<div class="row">
  <div class="col-sm-6">
    <h5><b><%= t("dashboard.index.partials.map.title") %></b></h5>
  </div>
  <div class="col-sm-6">
    <div class="float-right">
      <p><%= t("dashboard.index.partials.map.price_cocoa") %>: $<%= @price %><br><span style="color: #0EA600;"><%= "#{@pc} (#{@pcp})" %></span><br><span style="font-size: 10px;"> <%= t("dashboard.index.partials.map.values_in") %> <b>USD</b>. 1 <%= t("dashboard.index.partials.map.metric_tons") %></span><br></p>
    </div>
  </div>
</div-->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
  <div class="row">
    <div class="col-12">
      <div id="mapid"></div>
    </div>
  </div>

  <style>
    #mapid { height: 500px; }
    @media (max-width: 768px) {
      #mapid { height: 300px; }
    }
    .leaflet-popup-content p{
      margin: 0;
    }
  </style>
  <script>
    var mymap = L.map('mapid').setView([13.701288, -89.224453], 6);
    var mapboxAccessToken = "pk.eyJ1Ijoid2lsbGlhbXNjb2RlY2FzdGxlIiwiYSI6ImNrMzBna2lxMDAwZXUzZ3BpNDdnbTQ1YjAifQ.KpPp25_1XiOMbULSHp5Jhw";

    //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token='+mapboxAccessToken).addTo(mymap);

    var greenIcon = L.icon({
        iconUrl: '/marker-icon.png',
        iconSize: [25, 41],
        iconAnchor: [0, 41],

    });

    <% if @places.size > 0 %>
      <% @places.each do |place| %>
        <% if place.latitude.present? && place.longitude.present? %>
          marker= L.marker([<%= place.latitude %>, <%= place.longitude %>],{icon: greenIcon, riseOnHover: true, permanent: true}).bindPopup('<img src="/CACAO_01.png" alt="" class="img-fluid" width="25px">&nbsp;<b><%= link_to place.name, dashboard_path(place) %></b><p><%= place.description.truncate(50) %></p>').addTo(mymap);
        <% end %>
      <% end %>
    <% end %>
    mymap.scrollWheelZoom.disable();

    $(document).ready(function(){
      if($(".price-scrap").next("p").text() == ""){
        $(".price-scrap").next("p").remove();
      }
    });
  </script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!--div class="row">
  <div class="col-12">
    <div id="mapid"></div>
  </div>
</div>

<style>
  #mapid { height: 500px; }
  @media (max-width: 768px) {
    #mapid { height: 300px; }
  }
  .leaflet-popup-content p{
    margin: 0;
  }
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script type="text/javascript">
  var places = [
  <% if @places.size > 0 %>
      <% @places.each do |place| %>
        <% if place.latitude.present? && place.longitude.present? %>
          {id: '<%= place.id %>', name: '<%= place.name %>', description: '<%= place.description.truncate(50) %>', lat: '<%= place.latitude %>', long: '<%= place.longitude %>'},
        <% end %>
      <% end %>
    <% end %>
  ];
  
  // Initiate the chart
  Highcharts.mapChart('mapid', {

      chart: {
          map: 'custom/world'
      },

      title: {
          text: 'Mapa de Sabor'
      },

      legend: {
          title: {
              text: 'Mapa de Sabor'
          }
      },

      mapNavigation: {
          enabled: true,
          buttonOptions: {
              verticalAlign: 'bottom'
          }
      },

      tooltip: {
          backgroundColor: 'none',
          borderWidth: 0,
          shadow: false,
          useHTML: true,
          padding: 0,
          pointFormat: '<img src="/CACAO_01.png" alt="" class="img-fluid" width="25px">&nbsp;<b><a href="/dashboard/{point.id}">{point.name}</a></b><p>{point.description}</p>',
          positioner: function () {
              return { x: 0, y: 250 };
          }
      },

      colorAxis: {
          min: 1,
          max: 1000,
          type: 'logarithmic'
      },

      series: [{
          data: places,
          name: 'Mapa de Sabor'
      }]
  });
</script-->