= f.association :producer
= f.association :flavor

.row
  .medium-12.columns
    = f.input :name, required: true
  .medium-12.columns
    = f.input :description
  .medium-12.columns
    = f.input :description_eng
.row
  .medium-6.columns
    = f.input :latitude
  .medium-6.columns
    = f.input :longitude

.row
  .medium-6.columns
    = f.input :x_axis
  .medium-6.columns
    = f.input :y_axis

.row
  .medium-12.columns
    = f.label :fermentation_type
    = f.select :fermentation_type, Place.fermentation_types.keys.map{ |i| [t(i, scope: 'activerecord.enum.place.fermentation_type'), i] }, include_blank: true, required: true

.row
  .medium-6.columns
    = f.label :main_image do
      = "Imagen"
      = image_tag f.object.main_image.url, class: 'img-responsive img-thumbnail' rescue nil
    = f.file_field :main_image, hide_label: true, accept: 'image/*'
  .medium-6.columns
    = f.input :youtube_url
.row
  .medium-6.columns
    = f.label :graphic_one do
      = "Gráfico uno / Graphic One"
      = image_tag f.object.graphic_one.url, class: 'img-responsive img-thumbnail' rescue nil
    = f.file_field :graphic_one, hide_label: true, accept: 'image/*'
  .medium-6.columns
    = f.label :graphic_two do
      = "Gráfico dos / Graphic Two"
      = image_tag f.object.graphic_two.url, class: 'img-responsive img-thumbnail' rescue nil
    = f.file_field :graphic_two, hide_label: true, accept: 'image/*'
.row
  .medium-6.columns
    = f.input :scheme, as: :ckeditor, label: "Descripción del sabor y gráfico", input_html: { ckeditor: { toolbar: 'Full' } }
  .medium-6.columns
    = f.input :scheme_eng, as: :ckeditor, label: "Descripción del sabor y gráfico (Ingles)", input_html: { ckeditor: { toolbar: 'Full' } }

%h5 Notas de sabor/ Flavor Notes
.row
  .medium-2.columns
    = f.input :bean_size, label: "Bean Size / Tamaño del frijol"
  .medium-2.columns
    = f.input :well_fermented, label: "Well fermented / Bien fermentado"
  .medium-2.columns
    = f.input :semi_fermented, label: "Semi fermented / Semi fermentado"
  .medium-2.columns
    = f.input :defects, label: "Defects / Defectos"
  .medium-4.columns
    = f.input :toast_conditions, label: "Toast Conditions / Condiciones de tostado"
.row
  .medium-4.columns
    = f.input :licor, label: "Licor (español)"
    = f.input :liquor_eng, label: "Liquor (inglés)"
  .medium-4.columns
    = f.input :chocolate, label: "Chocolate (español)"
    = f.input :chocolate_eng, label: "Chocolate (inglés)"
%br
%hr
.row
  .medium-6.columns
    = f.input :quality_flavors, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
  .medium-6.columns
    = f.input :quality_flavors_eng, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }

.row
  .medium-6.columns
    = f.input :harvest, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
  .medium-6.columns
    = f.input :harvest_eng, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }

.row
  .medium-6.columns
    = f.input :content_right, as: :ckeditor, label: "Procesamiento", input_html: { ckeditor: { toolbar: 'Full' } }
  .medium-6.columns
    = f.input :content_right_eng, as: :ckeditor, label: "Process",  input_html: { ckeditor: { toolbar: 'Full' } }

.row
  .medium-6.columns
    = f.input :content_left, as: :ckeditor, label: "Generalidades", input_html: { ckeditor: { toolbar: 'Full' } }
  .medium-6.columns
    = f.input :content_left_eng, as: :ckeditor, label: "Generalidades",input_html: { ckeditor: { toolbar: 'Full' } }

%h5 Premios/Awards
.row
  .medium-6.columns
    = f.input :featured, required: false, hide_label: true, accept: 'image/*', label: "Foto/Picture"
    = image_tag f.object.featured.url, class: 'img-responsive img-thumbnail' rescue nil
  .medium-6.columns
    = f.input :award_desc_es, label: "Descripción del premio", as: :ckeditor
    = f.input :award_desc_en, label: "Award description", as: :ckeditor