<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" sizes="64x64"></link>
    
    <%= csrf_meta_tags %>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'landing_layout', media: 'all' %>
    <%= javascript_include_tag 'landing_layout' %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <title>Mapa de Sabores de Cacao</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>